/* src/components/Blog.css */
.blog {
    padding: 60px 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.blog .container {
    max-width: 1200px;
    margin: 0 auto;
}

.blog h2 {
    font-size: 36px;
    color: #010101;
    margin-bottom: 20px;
}

.blog-post {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: left;
}

.blog-post h3 {
    font-size: 28px;
    color: #010101;
    margin-bottom: 15px;
}

.blog-post p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}

.blog-post ul {
    list-style-type: disc;
    padding-left: 20px;
}

.blog-post ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}
