/* src/components/BookingForm.css */

body, html, #root {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    scroll-behavior: smooth;
}

.booking-form {
    padding: 40px;
    text-align: center;
    color: #010101;
    max-width: 600px; /* Limit the maximum width of the form */
    margin: 0 auto; /* Center the form on the page */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    background-color: #ffffff; /* Add a white background */
    scroll-behavior: smooth;
    justify-items: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.booking-form h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 700;
    animation: slideInDown 1s ease-in-out;
}

@keyframes slideInDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.booking-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Increase gap between elements */
    align-items: center;
    text-align: center;
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.booking-form label {
    font-size: 18px;
    margin-right: 10px;
    width: 100%; /* Make labels full width */
    text-align: left; /* Align text to the left */
    color: #666;
    font-weight: 600;
}

.booking-form input,
.booking-form select {
    padding: 15px;
    font-size: 16px;
    width: 100%; /* Make inputs and selects full width */
    max-width: 300px; /* Limit the maximum width */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Add an inner shadow */
    transition: box-shadow 0.3s ease;
}

.booking-form input:focus,
.booking-form select:focus {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.1); /* Enhance focus state */
}

.booking-form button {
    padding: 15px 30px;
    background-color: #010101;
    color: #f4c542;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Add margin to the top of the button */
    width: 100%; /* Make button full width */
    max-width: 300px; /* Limit the maximum width */
    font-weight: 700;
}

.booking-form button:hover {
    background-color: #333;
}

.booking-form button:active {
    background-color: #222;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Responsive styling */
@media (max-width: 768px) {
    .booking-form {
        padding: 30px;
    }

    .booking-form h2 {
        font-size: 28px;
    }

    .booking-form label,
    .booking-form input,
    .booking-form select,
    .booking-form button {
        font-size: 16px;
    }
}
