/* src/components/Explore.css */
.explore {
    padding: 60px 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.explore .container {
    max-width: 1200px;
    margin: 0 auto;
}

.explore h2 {
    font-size: 36px;
    color: #010101;
    margin-bottom: 20px;
}

.explore h3 {
    font-size: 28px;
    color: #010101;
    margin-top: 30px;
    margin-bottom: 15px;
}

.explore p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.6;
}

.explore ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.explore ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}
/* src/components/Facilities.css */
.facilities {
    padding: 60px 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.facilities .container {
    max-width: 1200px;
    margin: 0 auto;
}

.facilities h2 {
    font-size: 36px;
    color: #010101;
    margin-bottom: 40px;
}

.facility {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.facility:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.facility-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-right: 1px solid #ddd;
    flex-shrink: 0;
}

.facility-description {
    padding: 20px;
    text-align: left;
    flex-grow: 1;
}

.facility-description h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #010101;
}

.facility-description p {
    font-size: 16px;
    color: #666;
}

.cost-information {
    margin-top: 40px;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cost-information h3 {
    font-size: 24px;
    color: #010101;
    margin-bottom: 20px;
}

.cost-information p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.cost-information strong {
    color: #010101;
}
