.footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    color: #FFD700;
}
@media (max-width: 768px) {
    .footer p {
        font-size: 14px;
    }

    .footer a {
        font-size: 14px;
        margin: 0 5px;
    }
    li a {
        color: #ffffff;
    }
}