.navbar {
    background-color: black;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #FFD700;
}

.menuButton {
    display: none; /* Hidden by default */
}

@media (max-width: 768px) {
    .menuButton {
        display: block; /* Show on small screens */
    }

    .nav-links {
        display: none; /* Hide nav links on small screens */
    }
}

.MuiPaper-root .MuiMenu-list {
    background-color: white;
}

.MuiPaper-root .MuiMenu-list a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 20px;
}

.MuiPaper-root .MuiMenu-list a:hover {
    background-color: #f0f0f0;
    color: #FFD700;
}
