@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.spaces {
    padding: 60px 20px;
    background-color: #f8f8f8;
    color: #333;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.spaces .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spaces h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 700;
    animation: slideInFromLeft 1s ease-in-out;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.spaces p {
    font-size: 20px;
    color: #666;
    line-height: 1.8;
    margin-bottom: 30px;
    animation: slideInFromRight 1s ease-in-out;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.image-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    animation: fadeIn 1.5s ease-in-out;
}

.space-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.space-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book-now-container {
    margin-top: 30px;
}

.book-now-button {
    margin: 30px;
    display: inline-block;
    padding: 15px 30px;
    background-color: #FFD700;
    color: #010101;
    text-decoration: none;
    font-size: 20px; /* Increased font size */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.book-now-button:hover {
    background-color: #FFC700;
}

.contact-info {
    margin-top: 30px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #FFD700;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    margin: 0 auto;
}

.contact-info h3 {
    font-size: 24px;
    color: #FFD700;
    margin-bottom: 10px;
    font-weight: 600;
}

.contact-info p,
.contact-info ul {
    font-size: 20px; /* Increased font size */
    color: #f0f0f0; /* Lighter color for better readability */
    line-height: 1.6;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.contact-info ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.contact-info ul li svg {
    margin-right: 10px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .space-image {
        width: 100%;
        height: auto;
    }

    .contact-info {
        padding: 15px;
    }

    .book-now-button {
        padding: 10px 20px;
        font-size: 18px;
    }

    .contact-info h3 {
        font-size: 20px;
    }

    .contact-info p,
    .contact-info ul li {
        font-size: 16px;
    }
}
