/* src/components/Support.css */
* {
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.support {
    padding: 60px 20px;
    background-color: #f8f8f8;
    color: #333;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.support .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 700;
    animation: slideInFromLeft 1s ease-in-out;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.support p {
    font-size: 20px;
    color: #666;
    line-height: 1.8;
    margin-bottom: 30px;
    animation: slideInFromRight 1s ease-in-out;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.faq-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 30px;
    text-align: left;
}

.faq-list li {
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact-info {
    margin-top: 30px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #FFD700;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    margin: 0 auto;
}

.contact-info h3 {
    font-size: 24px;
    color: #FFD700;
    margin-bottom: 10px;
    font-weight: 600;
}

.contact-info p, .contact-info ul {
    font-size: 20px; /* Increased font size */
    color: #f0f0f0; /* Lighter color for better readability */
    line-height: 1.6;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.contact-info ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.contact-info ul li svg {
    margin-right: 10px;
    margin-bottom: 5px;
}
