/* src/components/Support.css */
.support {
    padding: 60px 20px;
    background-color: #d0d0190a;
    
}

.support .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    box-shadow: #FFD700;
}

.support h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.support p {
    font-size: 18px;
    color: #080707;
    line-height: 1.6;
    margin-bottom: 30px;
}

.contact-info h3 {
    font-size: 24px;
    color: #d2cbcb;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    font-size: 18px;
    color: #e6dfdf;
    margin-bottom: 10px;
}

.contact-info ul li a {
    color: #010101;
    text-decoration: none;
}

.contact-info ul li a:hover {
    color: #FFD700;
}

.faq-button-container {
    margin-top: 20px;
}

.faq-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #010101;
    color: #FFD700;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.faq-button:hover {
    background-color: #000000;
    color: #f8f8f8;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 1s ease-in-out;
}

.animate-slide-up {
    animation: slideUp 1s ease-in-out;
}
