/* src/components/Welcome.css */
.welcome {
    background-color: #FFD700; /* Gold color */
    color: #010101;
    padding: 60px 20px;
}

.welcome .container {
    text-align: center;
}

.welcome h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.welcome-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.welcome-images img {
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.welcome-images img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
