/* src/components/Welcome.css */
.welcome {
    padding: 40px;
    text-align: center;
    background-color: #f4c542;
    color: #010101;
}

.welcome h2 {
    font-size: 36px;
}

.welcome p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
